body {
    margin: 0;
    background: url("https://images.unsplash.com/photo-1537420327992-d6e192287183?q=80&w=1288&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center center fixed;
    background-size: cover;
    color: white;
    text-align: center;
    font-size: 1rem;
}

#query {
    width: 300px;
    padding: 12px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 1rem;
    text-align: center;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    background: linear-gradient(45deg, #6a11cb, #2575fc);
    color: white;
    transition: transform 0.2s, box-shadow 0.2s;
}

    button:hover {
        transform: scale(1.05);
        box-shadow: 0 0 15px rgba(255,255,255,0.6);
    }

#searchResults {
    visibility: hidden;
    margin-top: 30px;
    background: rgba(158, 27, 50, 0.70);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}


#time {
    visibility: hidden;
}